.my-book-container {
    padding-top: 2rem;

    display: flex;
    justify-content: center;

    width: 70%;
    margin: 0 auto;

    .my-book-informations {
        margin-left: 1rem;
        max-width: 450px;

        h2 {
            font-weight: 500;
        }
        h3 {
            font-size: 1rem;
            font-weight: 400;
        }

        .my-book-ratings {
            margin: 12px 0px;
            display: flex;
            align-items: center;
            font-size: 0.8rem;
            margin-bottom: 12px;

            h1:first-child {
                border: 2px solid black;
                background: orange;
                padding: 5px;
                margin-right: 10px;
            }
        }

        &>span {
            display: block;
        }

        .my-book-description {
            margin-top: 12px;    
        }
    }

}